{% extends "base_generic.html" %}

{% block content %}
  <h1>iiiorg 圖書管理範例 首頁</h1>
  <p>可參考 <em>Mozilla Developer Network</em> 提供的教學來理解本專案如何做修改（資料庫Model等）與本機端測試方法 </p>

  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}
